/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

:root {
  --bg: #080808;
  --bg-card: #111;
  --bg-card2: #181818;
  --bg-hover: #1e1e1e;
  --border: rgba(255,255,255,0.07);
  --border-md: rgba(255,255,255,0.13);
  --border-hi: rgba(255,255,255,0.22);
  --text: #f8f8f2;
  --text-muted: #b4b4b4;
  --text-faint: #808080;
  --accent: #e8ff47;
  --accent-dark: #c8df20;
  --accent-dim: rgba(232,255,71,0.08);
  --accent-text: #0a0a0a;
  --green: #4ade80;
  --green-dim: rgba(74,222,128,0.1);
  --red: #f87171;
  --red-dim: rgba(248,113,113,0.1);
  --amber: #fbbf24;
  --amber-dim: rgba(251,191,36,0.1);
  --blue: #60a5fa;
  --blue-dim: rgba(96,165,250,0.1);
  --r-sm: 8px;
  --r-md: 12px;
  --r-lg: 18px;
  --r-xl: 24px;
}

html, body { height: 100%; background: var(--bg); color: var(--text); font-family: 'Sora', sans-serif; -webkit-font-smoothing: antialiased; }

button { font-family: 'Sora', sans-serif; cursor: pointer; border: none; outline: none; }
input, select, textarea { font-family: 'Sora', sans-serif; outline: none; }
::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #222; border-radius: 2px; }

